#bg {
  background: url('../img/andrew-neel-109201-unsplash.jpg') no-repeat center center fixed;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
}

#heading {
  margin-top: 36px;
  font-size: 2.2em;
  color: #a8d6f9c2;
  font-family: monospace;
  font-style: oblique;
  text-decoration: line-through;
  text-decoration-style: dashed;
  text-decoration-color: #ffffff54;
}

.container {
  padding-top: 5%;
  padding-left: 60px;
}

#new-todo {
  background: #88eafb42;
}
