body {
  background: url('../img/rawpixel-com-603666-unsplash.jpg') no-repeat center center fixed;
  background-color: white;
  background-size: cover;
}

#heading {
  text-align: center;
  margin-top: 36px;
  font-size: 3em;
  color: #a8d6f9eb;
  font-family: monospace;
  font-style: oblique;
  text-decoration: line-through;
  text-decoration-style: initial;
  text-decoration-color: #ffffff00;
  text-shadow: 1px 1px 8px #080808;
}

.img-responsive {
  border-radius: 4%;
  opacity: .78;
}

.btn-info {
  color: rgba(0, 0, 0, .5);
  background-color: #f5f5f5db;
  border-color: #46b8da;
}

#new-todo {
  background: #88eafb42;
}
#to-do-list {
  list-style-type: none;
  font-size: 20px;
  font-family: serif;
  text-transform: uppercase;
  color: black;

}
.delete {
  border: 1.2px solid #a94442;
      border-radius: 20%;
      color: #a94442;
          font-weight: 600;
          padding: 0px 5px;
          margin-left: 10px;
}
input[type=checkbox]  {
height: 16px;
width: 20px;
margin: 30px;
}
